/* page resets starts here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
    font-family: 'Inter', sans-serif;
    max-width: 1500px;
    margin: 0 auto;


}
/* page resets ends here */

/* Header  section begins here */
header{
    background-image:var(--gradient), url("./images/header.jpg");
    background-size: cover;
    /* border: 3px solid tomato; */
    height: 350px;
    position: relative;
    
}

.nav-desktop{
    justify-content: space-between;
    /* border: 3px solid black; */
    display: flex;
    color: white;
    
}
.leftside-ex{
    margin: 0 60px;
    /* border: 3px solid tomato; */
    display: flex;
    padding: 15px 20px;
}
    .headerbanner-section{
        /* border: 3px solid green; */
        padding: 50px;
        /* height: 750px; */
        min-height: 450px;
        display: flex;
        justify-content: flex-end;
        
    }

    .headerbanner-content{
        /* border: 3px solid purple; */
        height: 100%;
        width: 50%;
        /* margin: 90px; */
        color: white;
        /* padding-left: 500px; */
    }

    .headerbanner-content button{
        margin-top: 20px;
        border-radius: 25px;
        border: 2px solid tomato;
        padding: 5px;
        background-color: tomato;
        color: white;
        padding: 5px 20px;
    }
    .headerbanner-content h2 {
        /* padding-top: 50px; */
        margin-bottom: 40px;
        
        
    }
    
.rightlinks ul {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    
}
.rightlinks ul a{
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    color: white;
        
}

/* Header  section ends here */




/* second section begins here */

.second-section-container{
    /* border: 2px solid tomato; */
    padding: 20px;

}

.content{
    /* border: 2px solid green; */
    width: 30%;
    padding: 25px;
    background: tomato;
    color: white;
    border-radius: 25px;
}
.content h3{
    font-size: 25px;
    line-height: 1.5;
}
.content h4{
    font-size: 23px;
}
.content p{
    padding: 10px 0;
    font-size: 14px;
    padding-bottom: 35px;
    line-height: 1.5;
}
    
.content-holder{
    /* border: 2px solid black;  */
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.btn{
    padding: 7px 13px;
    border: none;
    border-radius: 30px;
    background: tomato;
    color: white;
    font-size: 10px;
}

.btn-white{
    background: white;
    color: tomato;
    font-size: 18px;
    margin-top: 20px;
}


/* second section ends here */


/* cta section begins here */

.cta-section{
    /* border: 2px solid black; */
    background: tomato;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
 .logo-holder{
    padding-top: 25px;
    color: white;
 }
/* cta section ends ends here */

/* footer section begins here */

footer{
    border: 2px solid blue;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer h2{
    font-size: 18px;
}

/* footer section ends here */